/*body {
  background: url(./bg.jpg);
  color: #fff;
}

#graph-container {
  margin: 100px auto 0 auto;
}

.dygraph-rangesel-bgcanvas {
  background-color: #000
}

.dygraph-axis-label {
  color: #fff;
}*/

#second {
  margin: 50px 0 0 50px;
  border: 2px solid red;
}